## 3. Conditional Iterators

###  Sample Solutions

Execute the following cell, to create the variables `a` - `array_7. `

In [3]:
a=5 
b=6 
c=73.0
d=7/18
e=6.243
f=7
g=0.35
h=0.39
array_7=[[1,3,2],[8,8,12],[6,7,4],[13,11,9],[3,5,6],[4,5,6],[3,2,3],[11,3,8]];

### <p style='color: green'>easy</p>

#### Exercise 1 
Test if `a` is `5`, `b` is `6` and `c` is `72` and print `"This is the case"` if it applies and `"This is not the case"` if it doesn't apply.
#### Solution 1

In [4]:
if a == 5 && b == 6 && c == 72
    println("This is the case")
else
    println("This is not the case")
end

This is not the case

#### Exercise 2
Test if `b` is between `a` and `e` and  if `d` is between `g` and `h`. If it applies print `"This is the case"` if not print `"This is not the case"`.
#### Solution 2

In [5]:
if (a < b < e || e < b < a) && ( g< d < h || h < d < g)
    println("This is the case")
else
    println("This is not the cass")
end

This is the case

#### Exercise 3
Test if `f` has a smaller value than `d` or `e`. If so, print the value of `f` together with the string `" is smaller than d or e"`. Otherwise print the value of `f` togehter with `"is bigger than d or e"`. Do the same for `a` and `g` instead of `f`.
#### Solution 3

In [11]:
# test f 
if f < d || f < e
    println(f, " is smaller than d or e")
else
    println(f, " is bigger than d or e" )
end

7 is bigger than d or e

In [12]:
# compact version testing f, a and g togehter using a loop, you could also write it down explicitly for f, a and g 
for val in [f,a,g]
    if val < d || val < e
        println(val, " is smaller than d or e")
    else
        println(val, " is bigger than d or e" )
    end
end

7.0 is bigger than d or e
5.0 is smaller than d or e
0.35 is smaller than d or e

#### Exercise 4
Create `j=4` and add `1.5` four times using a for loop.
#### Solution 4

In [16]:
j = 4
for i in 1:4
    j = j+1.5
end
j

10.0

In [18]:
# more compact notation using += operatorj = 4
for i in 1:4
    j +=1.5
end
j

10.0

#### Exercise 5
Make `array_6` with numbers ranging from `1` to `10` using array comprehension.
#### Solution 5

In [19]:
array_6 = [x for x in 1:10]

10-element Vector{Int64}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

#### Exercise 6
Only print the odd numbers of the array `array_6` using a `for` loop and the `continue` statement. (Use the remainder operator `%` e.g. for even numbers `'number % 2 == 0'`)
#### Solution 6

In [22]:
for i in array_6
    if i % 2 == 0
        continue
    end
    println(i)
end

1
3
5
7
9

### <p style='color: orange'>medium</p>

#### Exercise 7
Extract the second items of the arrays inside of `array_7`, but only if the number is larger than `3`, once using a for loop (`array_71`) and once using array comprehension (`array_72`).
#### Solution 7

In [24]:
# for loop
array_71 = Int64[]
for array in array_7
    if array[2] > 3
        push!(array_71, array[2])
    end
end
array_71

5-element Vector{Int64}:
  8
  7
 11
  5
  5

In [25]:
# array comprehension
[x[2] for x in array_7 if x[2] >3]

5-element Vector{Int64}:
  8
  7
 11
  5
  5

#### Exercise 8
Create an array (`array_9`) consisting of all numbers between `420` and `1680` that are divisible by `7` and multiple of `3` (again use the remainder operator). Afterwards count the number of even and odd numbers in `array_9` and print the results. 
#### Solution 8

In [31]:
array_9 = [x for x in 420:1680 if x % 7 == 0 && x % 3 ==0 ]
even_counter = 0
odd_counter = 0
for i in array_9
    if i % 2 == 0
        even_counter += 1
    else
        odd_counter += 1
    end
end
println("Even numbers: ", even_counter, "  Odd numbers : ", odd_counter)

Even numbers: 31  Odd numbers : 30

#### Exercise 9
Create an array (`array_10`) containing `50` subarrays, each consisting of `3` random numbers from `0` to `10`. (Use the `rand()` function (http://www.jlhub.com/julia/manual/en/function/rand) and a for loop) 
#### Solution 9

In [34]:
array_10 = []
for i in 1:50
    push!(array_10, rand(1:10, 3))
    
end

In [35]:
array_10

50-element Vector{Any}:
 [10, 5, 8]
 [2, 2, 9]
 [2, 5, 9]
 [3, 7, 6]
 [5, 5, 9]
 [4, 10, 8]
 [5, 7, 4]
 [5, 1, 1]
 [9, 2, 6]
 [3, 3, 10]
 [4, 4, 4]
 [3, 9, 1]
 [6, 10, 3]
 ⋮
 [6, 2, 3]
 [7, 2, 7]
 [4, 5, 4]
 [1, 4, 2]
 [7, 5, 1]
 [9, 9, 8]
 [7, 4, 3]
 [8, 4, 6]
 [2, 5, 5]
 [2, 8, 1]
 [2, 9, 6]
 [1, 8, 3]

#### Exercise 10
Create a matrix (`matrix_4`) with 50 rows and 3 collums each containing a random number from 0 to 10 using only the `rand()` function. 
#### Solution 10

In [36]:
matrix_4 = rand(1:10, 50,3)

50×3 Matrix{Int64}:
 4   9   2
 6   6  10
 6  10  10
 8   4   3
 7  10   3
 7   7   1
 1   2   4
 5   4  10
 8   3   4
 4   4   8
 6  10   8
 5   7   4
 6   3   6
 ⋮
 4   9   5
 5   5   9
 3   1   8
 8   8   5
 4   2   8
 5   5   8
 2   2   5
 9   7   2
 3   9   6
 2   5   1
 1   1   4
 9   3   2